<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Welcome To My Application</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
    <p style="color: #008B8B;font-size:250%;font-weight:bold;text-align: center;">
      Welcome To My List Students
     </p>
      <h2 th:utext="${message}">..!..</h2>
       
      <!--  
       
         In Thymeleaf the equivalent of
         JSP's ${pageContext.request.contextPath}/edit.html
         would be @{/edit.html}
          
         -->
          
      <a th:href="@{/personList}"><p style="color:#66CDAA;font-size:150%;font-weight:bold;margin-left: 50px">Student List</p></a>  
       
   </body>
    
</html>