<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Person List</title>
      <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   </head>
   <body>
     <p style="color: #008B8B;font-size:250%;font-weight:bold;text-align: center;">
     Student List
     </p>
       
      <a href="addPerson"> <p style="color:#66CDAA;font-size:150%;font-weight:bold;margin-left: 50px">Add Student   </p></a>

      <br/><br/>
      <div class="col-sm-5" align="center">
		<div class="panel-body" align="center">

	<table class="table">
	
	<thead class="thead-dark">
            <tr>
               <th  class="form-label">First Name</th>
               <th  class="form-label">Last Name</th>
            </tr>
            <tr th:each ="person : ${persons}" >
               <td th:utext="${person.firstName}"></td>
               <td th:utext="${person.lastName}" class="active"></td>
            </tr>
         </table>
      </div>
   </body>
</html>